.card-img-top {
    image-rendering: pixelated !important;
    image-rendering: -moz-crisp-edges !important;
    width: 100%;
}
.modal-img {
    image-rendering: pixelated !important;
    image-rendering: -moz-crisp-edges !important;
    width: 50%;
}
* {
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
}

/* lift card on hover */
.card {
    transition: all .2s ease-in-out;
}
.card:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    transform: scale(1.1);
    /* bring card to top */
    z-index: 100;
}

/* style badges */
.card-body .badge {
    background: #000;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: normal;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

/* style btnGroup */
#btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* more animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card {
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 1s;
}
